<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <title>Admin Control</title>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }

            table, th, td {
                border: 1px solid black;
            }

            th, td {
                padding: 8px;
                text-align: left;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>
    <body>
    <nav>
        <a th:href="@{/home}">Home</a> |
        <a th:href="@{/notify}">notify</a> |
        <a th:href="@{/admin/assign}">Assign</a> |
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/assign}">admin</a>
    </nav>
    <h1>List of Worker/Slaves</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>roles</th>
            <th>email</th>
        </tr>
        </thead>
        <tbody>
        <!-- Thymeleaf iteration over users to populate table rows -->
        <tr th:each="coo : ${coos}">
            <td th:text="${coo.getName()}"></td>
            <td th:text="${coo.getUsername()}"></td>
            <td th:text="${coo.getRoles()}"></td>
            <td th:text="${coo.getEmail()}"></td>
        </tr>
        </tbody>
    </table>



    </body>

</html>