<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/login/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Home</title>
</head>

<body>
<div class="event-dashboard">


    <div class="div">
        <div class="div-2">
            <div class="div-3"></div>
            <div class="mspv">Event Sync</div>
        </div>
        <div class="div-4">
            <div class="date">11th July 2024 | 10:45 am</div>
            <a href="#"><i class="fa fa-bell" aria-hidden="true" style="font-size:27px; color: #007bff; border: 1px solid #ccc; border-radius: 5px; padding: 10px 18px;"></i></a>
            <a href="event.html"><i class="fa fa-user-circle-o" aria-hidden="true" style="font-size:30px; color: #007bff; border: 1px solid #ccc; border-radius: 5px; padding: 10px 18px;"></i></a>


        </div>

    </div>
    <div class="upcoming-events-2" th:value="'Assign to '+${cus}"></div>

    <div>
        <form method="post" action="/admin/assign">
            <input type="hidden" th:value="${cus}" name="cus" readonly>
            <input type="text" name="event" required>
            <br>
            <input type="text" name="info" required>
            <br>
            <button type="submit" class="button-29" role="button">Button 29</button>
        </form>


    </div>



</div>
<script th:src="@{/js/event.js}"></script>
</body>

</html>