<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sync Login</title>
    <link rel="stylesheet" href="login/toast.css">
    <link rel="stylesheet" href="login/getIn.css">

    <script>
        function showToast() {
           const toast = document.getElementById('toast');
           if (toast) {
               toast.classList.add('show');
               setTimeout(() => { toast.classList.remove('show'); }, 3000); // Hide after 3 seconds
           }
       }

       // Show the toast if there's an error message
       window.onload = function() {
           /*[[${param.error != null}]]*/ showToast();
       };
    </script>
</head>
<body>
<div class="container">
    <!-- Left Section -->
    <div class="left-section">

        <h1>Email Sync</h1>
        <p>Sign in to Manage and Participate in College Events</p>
        <img th:src="@{/img/graphic5.svg}" alt="Illustration">
    </div>

    <!-- Right Section -->
    <div class="right-section">

        <h2>Login</h2>
        <form id="loginForm" th:action="@{/login}" method="post">
            <input type="text" id="userID" name="username" placeholder="User ID" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
            <a href="#">Forgot password?</a>
        </form>
        <div class="quote">
            <p>"Empowering you to stay connected and informed!"</p>
        </div>
        <div th:if="${param.error != null}">
            <div id="toast" class="toast" th:text="'Wrong username or password'"></div>
        </div>

    </div>
</div>


</body>
</html>
