<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>User Table</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<nav>
    <a th:href="@{/home}">Home</a> |
    <a th:href="@{/notify}">notify</a> |
    <a th:href="@{/allsend}">structure</a> |
    <a th:href="@{/allstatus}">status</a> |
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/assign}">admin</a>
</nav>
<h1>List of Users</h1>

<table>
    <thead>
    <tr>
        <th>Event</th>
        <th>Information</th>
        <th>Structure it</th>
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf iteration over users to populate table rows -->
    <tr th:each="post : ${posts}">
        <td th:text="${post.getEvent()}"></td>
        <td th:text="${post.getInfo()}"></td>
        <td>
            <form th:action="@{/structure}" method="get">
                <button type="submit" th:value="${post.getId()}" name="id">click</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
